extends layout
    
block content
    #top-bar
        block contextual-buttons
            label.first-button.btn.btn-default.btn-file(title='Upload a file to transform into a table')
                | Select a File
                input#file-picker(type='file', accept='.csv, .txt', onchange='filePicked(this.files)')

            button.second-button.btn.btn-default(title='Upload this quiz so that it will be saved, and can be shared' onclick='uploadQuiz()')
                | Upload This Quiz

        // Every quiz page has a validate button
        button#validate-button.btn.btn-default(title='Check your answers' onclick='validate()')
            | Validate    

    #main-content

        #table-header
            p   #{tableHeader}

        #score-display
        // populated by validator.js

        #table-div
            table !{tableData}