extends layout

block first-button
    label.first-button.btn.btn-default.btn-file(title='Select a file to transform into a table')
        | Select a File
        input#file-picker(type='file', accept='.csv, .xls, .xlsx', onchange='filePicked(this.files)')

block second-button
    button.second-button.btn.btn-default(title='Upload this quiz so that it will be saved, and can be shared' onclick='uploadQuiz()')
        |  Upload This Quiz

block right-button
    
    button#validate-button.btn.btn-default(title='Check your answers' onclick='validate()')
        | Validate
    
    a#settings-button.btn.btn-default(href="/settings")
        | Settings

append content
    #score-display
        // populated by validator.js
        | &nbsp;

    #table-div(data-table='#{tableData}')

append scriptsAppend
    script(src='/js/table.js')